.text-area {
    padding: 10%;
text-align: center;
}

body {
    
    background-color: black;
}

.textparagraph {
    color: silver;
    letter-spacing: 5px;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
}

h1 {
    padding-left: 30%;
    padding-right: 25%;
}

#main-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100;
    letter-spacing: 40px;
    color: silver;
    background-color: black;
}

h4 {
    color: gold;
}

@media only screen and (max-width: 500px) {
    #main-header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        width: 100;
        letter-spacing: 20px;
        color: silver;
        background-color: black;
    }
  }

  .myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color: black;
	border-radius:2px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color: silver;
	font-family:Verdana;
	font-size:21px;
	padding:4px 5px;
	text-decoration:none;
    margin-left: 10%;
    margin-bottom: 3%;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color: black;
    color: black;
}
.myButton:active {
	position:relative;
	top:1px;
}
